{% extends 'layouts/main.html' %}
{% block title %}Gamify{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6" id="browse-btns">
		<h1>Gamify ✨</h1>
		<p class="lead">Where gamers' dreams come true.</p>
		<h3>
			<form action="/games" method="GET"><button class="btn btn-primary btn-lg">Browse All Games</button></form>
			<form action="/" method="GET"><button class="btn btn-default btn-lg">Post a game</button></form>
		</h3>
		<h3>
			<form action="/categories" method="GET"><button class="btn btn-primary btn-lg">Browse Categories</button></form>
			<form action="/" method="GET"><button class="btn btn-default btn-lg">Post a Category</button></form>
		</h3>
		<h3>
			<form action="/developers" method="GET"><button class="btn btn-primary btn-lg">Browse Developers</button></form>
			<form action="/" method="GET"><button class="btn btn-default btn-lg">Post a Developer</button></form>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/icon.png') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
{% endblock %}