{% extends 'layouts/main.html' %}
{% block title %}Edit Developer{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/developers/{{developer.id}}/edit">
      <h3 class="form-heading">Edit Developer <em>{{ developer.name.capitalize() }}</em></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', value = developer.name, autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="description">Website</label>
            {{ form.website(class_ = 'form-control', value=developer.website, autofocus = true) }}
    </div>
      <input type="submit" value="Edit Developer" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}